.about {
    &__container {
        background: url('../img/ipad.png') no-repeat right 170px center;
    }

    &__content {
        margin-left: 168px;
        padding-top: 114px;
        padding-bottom: 100px;
        max-width: 37%;
    }

    &__text {
        margin-top: 45px;
    }

    &__btn {
        margin-top: 35px;
    }
}