.blog {
    padding-top: 80px;
    padding-bottom: 100px;
    background: url('../img/bg_6.jpg') no-repeat center/cover;

    @include respond-to(medium){
        padding-top: 40px;
        padding-bottom: 50px;
        text-align: center;
    }
    
    &__heading {
        @extend .section__title;
        color: #fff;
    }

    &__heading-text {
        @extend .section__text, .section__text--small;
        color: #b2b3b3;
    }

    &__slider-wrapper {
        position: relative;
    }

    &__slider {
        display: flex;
    }

    &__slide {
        @include grid-shift(1);
        @include grid-column(8);

        @include respond-to(large){
            @include grid-column(12);
        }

        @include respond-to(medium){
            @include grid-shift(2);
            @include grid-column(14);
            text-align: left;
        }

        @include respond-to(small){
            @include grid-shift(3);
            @include grid-column(12);
        }
    }

    &__title {
        margin-top: 100px;
        color:  #e1e4e9;
        font-size: 1.25rem;
        font-weight: 400;

        @include respond-to(medium){
            margin-top: 40px;
        }
    }

    &__author {
        margin-top: 12px;
        font: italic 300 .875rem $ffSourceSansPro-Light;
        color: $text-color;
        text-transform: uppercase;
        letter-spacing: 0.088rem;
    }

    &__stats {
        margin-top: 13px;
        font: 300 .875rem $ffSourceSansPro-Light;
        color:  #464646;
        letter-spacing: 0.088rem;
    }

    &__text {
        @extend .section__text, .section__text--small;
        margin-top: 51px;

        @include respond-to(medium){
            margin-top: 30px;
        }
    }

    &__next, &__prev {
        background-color: transparent;
        border: 1px solid $text-color;

        &:hover, &:focus {
            background-color: darken(#fff, 20%);
        }
    }

    &__read-btn {
        margin-top: 50px;
        color:  #b2b3b3;
        font-size: 1rem;
        transition: $tr3s;

        @include respond-to(medium){
            margin-top: 20px;
        }

        &:hover {
            color: #fff;
        }
    }

    &__pagination {
        display: flex;
        flex-direction: column;
        justify-content: center;

        li {

            &:nth-of-type(2) {
                margin: 10px 0;
            }
    
            &.slick-active {
                button {
                    background-color: #b2b3b3;
                }   
            }
    
            button {
                display: block;
                padding: 0;
                width: 10px;
                height: 10px;
                background-color: transparent;
                border: 1px solid #b2b3b3;
                font-size: 0;
                border-radius: 50%;
                transition: $tr3s;
            }
        }
    }
}