.form {
    padding-top: 80px;
    padding-bottom: 130px;

    @include respond-to(medium){
        padding: 40px 0;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;

        @include respond-to(medium){
            flex-direction: column;
        }
    }

    &__input {
        flex: 1 1 200px;
        padding: 10px 10px 10px 22px;
        border: 1px solid #d8dce0;
        color: $text-color;

        @include respond-to(medium){
            flex: 0 0 auto;
            width: 100%;
        }

        &:nth-of-type(2) {
            margin: 0 40px;

            @include respond-to(medium){
                margin: 20px 0;
            }
        }

        @include placeholder() {
            color: #a9a9a9;
        }
    }

    &__textarea {
        min-width: 100%;
        max-width: 100%;
        margin-top: 30px;
        padding: 10px;
        border: 1px solid #d8dce0;
        color: $text-color;

        @include respond-to(medium){
            margin-top: 20px;
        }
    }

    &__submit {
        width: 100%;
        margin-top: 30px;
        padding: 15.5px 0;
        font-size: 1rem;
        text-transform: uppercase;
        color: #fff;
        border: none;
        background-color: $accent-color;
        transition: $tr3s;

        &:hover {
            background-color: darken($accent-color, 10%);
        }

        @include respond-to(medium){
            margin-top: 20px;
            padding: 9.5px 0;
        }
    }
}