.subscribe {
    $input-width: 356px;
    $submit-width: 151px;

    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
    background: url('../img/bg_7.jpg') no-repeat center/cover;

    @include respond-to(medium){
        padding-top: 40px;
        padding-bottom: 50px;
    }

    &__heading {
        @extend .section__title;
        color: #fff;
    }

    &__heading-text {
        @extend .section__text, .section__text--small;
    }

    &__form {
        display: flex;
        justify-content: center;
        margin-top: 58px;

        @include respond-to(medium){
            margin-top: 30px;
        }
    }

    &__email-input {
        padding: 10px 10px 10px 22px;
        background-color: transparent;
        border: 1px solid #81868e;
        min-width: $input-width;
        color: #fff;

        @include placeholder() {
            color:  #cfd3d4;
        }

        @include respond-to(medium){
            flex-grow: 1;
            min-width: auto;
        }
    }

    &__submit {
        width: $submit-width;
        padding: 10px 0;
        margin-left: 9px;
        background-color: $accent-color;
        flex-basis: 100px;
        border: none;
        font: 400 .875rem $ffOpenSans-Regular;
        color: #fff;
        text-transform: uppercase;
        transition: $tr3s;

        &:hover {
            background-color: darken($accent-color, 10%);
        }
    }
}