* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #fff;
    font-family: $ffOpenSans-Regular;
    font-weight: 400;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

b {
    font-weight: 700;
}

ul {
    list-style: none;

    li {
        display: inline-block;
    }
}

h1 {
    font: 300 2.188rem $ffSourceSansPro-Light;
    text-transform: uppercase;
    color:  #fff;
    letter-spacing: .438rem;
}

h1, h2, p, figure, ul, li {
    margin: 0;
    padding: 0;
}

input, textarea {
    font: 400 .875rem $ffOpenSans-Regular;
}