$breakpoints: (
    'x-small': (max-width: 320px),
    'small': (max-width: 480px - 1),
    'medium': (max-width: 750px - 1),
    'large': (max-width: 1000px - 1),
    'x-large': (max-width: 1200px)
);

//Fonts
$ffRoboto-Light: 'Roboto Light', sans-serif;
$ffOpenSans-Bold: 'Open Sans Bold', sans-serif;
$ffOpenSans-Regular: 'Open Sans Regular', sans-serif;
$ffSourceSansPro-Light: 'Source Sans Pro Light', sans-serif;
$ffSourceSansPro-Black: 'Source Sans Pro Black', sans-serif;

// Colors
$accent-color: #19bd9a;
$text-color: #81868e;
$heading-color: #333b46;
$gray-bg-color: #f3f3f3;

// Effects
$tr3s: ease all 0.3s;

// Grid
$neat-grid: (
    columns: 18,
    gutter: 0px,
);