@mixin respond-to($media) {
    @if $media == wide {
        @media only screen and (min-width: $small) {
            @content;
        }
    }
    @else if $media == tablet {                                           // SM ( < 1024px )
        @media only screen and (max-width: $large - 1) {
            @content;
        }
    } @else if $media == phone-lend {                                       // XS ( < 768px )
        @media only screen and (max-width: $small - 1) {
            @content;
        }
    } @else if $media == phone {                                            // ( < 568px )
        @media only screen and (max-width: $x-small - 1) {
            @content;
        }
    }
}

@mixin placeholder {
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin center-absolute($width, $height) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: $height;
    width: $width;
    margin: auto;
}