// Media width
$phone: 320px;
$small: 750px;
$large: 1000px;
$wide: 1100px;

//Fonts
$ffRoboto-Light: 'Roboto Light', sans-serif;
$ffOpenSans-Bold: 'Open Sans Bold', sans-serif;
$ffOpenSans-Regular: 'Open Sans Regular', sans-serif;
$ffSourceSansPro-Light: 'Source Sans Pro Light', sans-serif;
$ffSourceSansPro-Black: 'Source Sans Pro Black', sans-serif;

// Colors
$accent-color: #19bd9a;
$text-color: #81868e;
$heading-color: #333b46;

// Effects
$tr3s: ease all 0.3s;

// Grid
$neat-grid: (
    columns: 12,
    gutter: 30px,
);