section.section.impressed
    .section__container
        .impressed__content
            h2.section__title.impressed__title Impressed ?
            p.section__text.impressed__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
            .impressed__author
                .impressed__name - Abdullah Noman
                .impressed__position Creatice Director, 
                    span.impressed__workplace Code Cafe 
        img(src="img/imac.png" alt="bouncy").impressed__image

