section.section.subscribe
    .section__container
        h2.subscribe__heading subscribe us
        p.subscribe__heading-text At vero eos et accusamus et iusto odio dignissimos ducimus qui 
            br
            | blanditiis praesentium
        form(action="#" method="POST").subscribe__form
            input(type="email" placeholder="Email Address" name="userEmail" required).subscribe__email-input
            input(type="submit" value="submit").subscribe__submit
            