.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background-color: #81868e;
    border-radius: 50%;
    cursor: pointer;
    transition: $tr3s;

    &:hover, &--active {
        background-color: $accent-color;
    }

    &__icon {
        fill: #fff;
        width: 30px;
        height: 30px;
    }
}