mixin section-header(title)
    h2.section__title= title
    p.section__text.section__text-small At vero eos et accusamus et iusto odio dignissimos ducimus qui 
        br
        | blanditiis praesentium