include template/header
include template/about
include template/details
include template/projects
include template/services
include template/impressed
include template/portfolio
include template/team
include template/testimonials
include template/blog
include template/price
include template/subscribe
include template/contacts
include template/form
include template/map
include template/footer