include template/header
include template/about
include template/details
include template/projects
include template/services
include template/impressed
include template/portfolio
include template/footer